@charset "UTF-8";
/** CSS Document **/
 html, body{
     height: 100%;
     width: 100%;
     margin: 0px;
     position: relative;
     color: white;
}
 button:not(.main-button):not(.nobutton){
     padding: 10px 20px;
     margin-bottom: 15px;
     border-radius: 100px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     font-size: 16px;
     color: #ffffff;
     cursor: pointer;
}
 button:focus {
    outline:0;
}
 .input{
     background-color: #ffffff;
     border: 2px solid #dfdcdc;
     width: 90%;
     height: 45px;
     padding-left: 10px;
     padding-top: 0px;
     font-family: Arial, Helvetica, sans-serif;
     color: #8f8f8f;
     font-size: 18px;
     text-align: left;
     display: block;
     margin: 0 auto;
     max-width: 300px;
}
 .input:focus + label {
     margin-top: 0px;
     font-size: 10px;
     margin-left: 9px;
     outline: none;
}
 label {
     font-size: 18px;
     color: #8f8f8f;
     font-family: Arial, Helvetica, sans-serif;
     position: absolute;
     margin-top: 10px;
     margin-left: 15px;
     -webkit-transition: width 1s, height 1s;
     transition: width 1s, height 1s;
     white-space: nowrap;
}
/** Popups **/
/* Popup background and headers */
 .popup{
     position: absolute;
     left: 0px;
     z-index: 900;
     width: 95%;
     max-height: 90%;
     right: -100%;
     border: 0px solid #ffffff;
     border-radius: 30px;
     background-color: #ffffff;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}
 .cover{
     width: 100%;
     height: 100%;
     left: 0px;
     position: fixed;
     z-index: 1000;
     background: rgba(0, 0, 0, 0.6);
}
 .thankyou-popup{
     width: 50%;
     padding: 25px;
}
.email-popup{
    width: 80%;
    padding: 15px;
}
 .order-popup h2{
     color: rgb(221, 89, 88);
}
 .class-popup h2{
     color: #6D02D8;
}
 .popup h2{
     font-weight: 500;
     font-family: Futura, "Trebuchet MS", Arial, sans-serif;
     font-size: xx-large;
     text-align: center;
     margin: 0;
}
 .popup p, #email-link{
     font-weight: bold;
     color: black;
     font-size: medium;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
}
#email-link{
   display: block; 
}
 .popup button:not(.nobutton){
    font-family: Arial, Helvetica, sans-serif;
     font-size: 3;
     margin: 10px auto;
     display: block;
}
/* For showing and hiding the popups */
 .hide{
     display: none;
}
/* Top-left button */
 .nobutton {
     border-radius: 0px;
     padding: 0px;
     background: Transparent;
     border: 0px solid #ffffff;
     cursor: pointer;
     vertical-align:middle;
}
 .nobutton *{
     height: 25px;
     margin: 10px;
}
/* Inputs for Ordering popups */
 .popup .input{
     box-sizing: border-box;
     margin: 10px auto 0px;
}
/* Inputs for Booking popups */
 #booking-buttons-container{
     display: block;
     text-align: center;
}
 #booking-buttons-container button{
     display: inline-block;
}
 .booking-buttons{
     border:2px solid #6D02D8;
}
 #purple-background-button{
     background-color:transparent;
     color: #6D02D8;
}
 #white-background-purple-border-button{
     background-color:#6D02D8;
}
 .red-background-button{
     background: #DD5958;
     border: 2px solid #DD5958;
}
/** Nav **/
 nav{
     position: fixed;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 60px;
     display: none;
     background-color: #59CCE2;
     z-index: 890;
     display: flex;
     align-items: center;
     padding: .5rem 1rem;
     -ms-flex-flow: row nowrap;
     flex-flow: row nowrap;
     -ms-flex-pack: start;
     justify-content: flex-start;
     box-sizing: border-box;
    /* Mobile only */
     padding: 0px;
}

.subnav{
     -ms-flex-order: 0;
     order: 0;
}
 .subnav-right{
     display: -ms-flexbox!important;
     display: flex!important;
     -ms-flex-preferred-size: auto;
     flex-basis: auto;
     order: 3;
}
 .subnav, .subnav-right{
     width: 100%!important;
}
 .Link {
     cursor: pointer;
}
 .Link:hover {
     opacity:0.5;
}
 .list{
     display: -ms-flexbox;
     display: flex;
     -ms-flex-direction: column;
     flex-direction: column;
     padding-left: 0;
     margin-bottom: 0;
     list-style: none;
}
 .right{
     margin-left: auto!important;
     -ms-flex-direction: row;
     flex-direction: row;
     display: -ms-flexbox;
     display: flex;
     padding-left: 0;
     margin-bottom: 0;
     list-style: none;
    /* Mobile only */
     padding: 0px;
}
 #nav-button, #submit-order-button{
     background: #DD5958;
     border: 2px solid #DD5958;
}

 ul{
     padding: 0px;
}
 .left{
     margin-right: auto!important;
     -ms-flex-direction: row;
     flex-direction: row;
     display: -ms-flexbox;
     display: flex;
     padding-left: 0;
     margin-bottom: 0;
     list-style: none;
}
 .brand{
     padding-top: .3125rem;
     padding-bottom: .3125rem;
     margin-right: 1rem;
     font-size: 1.25rem;
     line-height: inherit;
     white-space: nowrap;
    /* Mobile only */
     display: none;
}
/** Landing **/
#landing-links img{
    margin: 5px; 
}
h1{
    margin: 0px; 
    font-size: 18px; 
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
 #top-landing{
     height: 60%;
     text-align: center;
     background-color: rgba(48, 117, 131, 0.555);
}
 #top-landing h1{
     margin: 0px;
     color: white;
     font-size: 18px;
}
 #logo-text{
     max-height: 250px;
}
 #bottom-landing{
     height: 40%;
     background: blue;
     text-align: center;
}
 #bottom-landing button{
     height: 33.3%;
     width: 100%;
     border: none;
}
 #browse-button{
     background-image: url("../!assets/OrderB.jpg");
}
 #book-button{
     background-image: url("../!assets/Classes3.jpg");
}
 #order-button{
     background-image: url("../!assets/Order2b.jpg");
}
 .main-button{
     background-position: center center;
     background-repeat: no-repeat;
     background-size: 100%;
     -webkit-transition: background-size 1s;
     transition: background-size 1s;
     cursor: pointer;
     overflow: hidden;
     font-weight: 300;
     letter-spacing: 4px;
     font-family: Futura, "Trebuchet MS", Arial, sans-serif;
     font-size: large;
     color: rgb(255, 255, 255);
}
 .main-button:hover {
     background-size: 105%;
     -webkit-transition: background-size 1s;
     transition: background-size 1s;
}
/* Slider */
 .swiper-container {
     width: 100%;
     height: 60%;
     position: absolute;
     z-index: -1;    
}
.swiper-slide:before{
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom, black,white);
	opacity: .6; 
}
.swiper-wrapper {
    align-items: center; /* add this will all relevant prefixes */
  }
 .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #fff;
    /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
}
 #slide1{
     background-image: url("../!assets/slides/llama.JPG");
}
 #slide2{
    background-image: url("../!assets/slides/on the farm.JPG");
}
#slide3{
    background-image: url("../!assets/slides/Popcorn and Pineapple.JPG");
}
#slide4{
    background-image: url("../!assets/slides/Super Heroes 2.JPG");
}
#slide5{
    background-image: url("../!assets/slides/thanksgiving.JPG");
}
/** Boxes of information next to portfolio images **/

.inner-wrapper-info{
  
}

 .info-box{
     text-align: center;
     padding: 10px;
     height: 550px;
     clear: both; 
     display: flex;
     justify-content: center;
     align-items: center;
}
.portfolio-wrapper{
    max-height: 550px;
}
 .purple{
     background: #6D02D8;
}
 .red{
     background: #DD5958;
}
 .info-box img{
     width: 250px;
}
 h3, h4{
     color: white;
     font-weight: 500;
     letter-spacing: 0px;
     font-family: Futura, "Trebuchet MS", Arial, sans-serif;
     text-align: center;
}
 h3{
     font-size: 32px;
     margin: 10px; 
}
 h4{
     font-size: 20px;
     padding: 5px;
}
 .info-box p{
     max-width: 435px;
     white-space: normal;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     margin: 0 auto;
}
 .info-box button{
    font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     font-size: 16px;
}
 .whiteghostbutton{
     background: transparent;
     border: 2px solid #ffffff;
     padding: 20px 30px;
     margin: 10px;
     border-radius: 100px;
     font-family: Futura, "Trebuchet MS", Arial, sans-serif;
     font-weight: 700;
     font-size: 12pt;
     color: white;
     cursor: pointer;
}
/** Portfolio **/
 .portfolio-image{
     width: 50%;
     margin: 0px;
     float: left;
     height: 50%;
}
/** Newsletter and footer **/
 #newsletter{
     padding: 30px 0px;
     clear: both;
}
 #footer{
     background: #18788C;
}
 #mc-embedded-subscribe {
     background-color: #6D02D8;
     border: #6D02D8;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     font-size: medium;
     font-weight: 700;
     padding: 20px 30px;
     border-radius: 40px;
     margin: 10px auto;
     display: block;
     outline: none;
     cursor: pointer;
}
 #mc-embedded-subscribe:hover{
     background-color:rgb(72, 0, 145);
     border:rgb(72, 0, 145);
}
 #credits{
     width: 100%;
     text-align: center;
     background: #18788C;
}
 #credits p{
     margin: 0px;
}
 a:link:not(#browser-anchor-link) {
     text-decoration: none;
     color: #6D02D8;
}
 a:visited:not(#browser-anchor-link) {
     text-decoration: none;
     color: rgb(30, 0, 59);
}
 a:hover:not(#browser-anchor-link) {
     text-decoration: none;
     color: rgb(75, 0, 150);
}
 a:active:not(#browser-anchor-link) {
     text-decoration: none;
     color: rgb(75, 0, 150);
}
.intense:hover {
    cursor: url('../!assets/plus_cursor.png'), auto;
    opacity: 0.75;
}
#browser-anchor-link{
    color: white; 
    text-decoration: none; 
}

@media screen and (max-width: 599px) {
    #nav-button{
        font-size: 14px;
        border-radius: 0px;
        height: 60px;
        margin-bottom: 16px;
    }

}

@media screen and (min-width: 600px) {
    .class-popup{
        width: 60%;
    }
    nav{
        padding: .5rem 1rem;
    }
    .brand{
        display: inline-block;
    }
}

@media screen and (min-width: 800px) {
    .row{
        display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
    }
    .info-box, .portfolio-wrapper{
        flex: 1;
        width: 50%; 
        padding: 0px; 
    }
    .info-box{
        position: relative; 
        width: 100%;
    }
    .info-box p {
     width: 90%;
    }
    .info-box img{
        width: 150px;
    }
    
    .red{
        order: 2;
    }
    .purple{
        order: 0;
    }
    .portfolio-wrapper{
        order: 1; 
    }
    h3{
        margin: 5px; 
    }

    #top-landing{
        float: left; 
        width: 50%;
        height: 100%;
    
    }
    #bottom-landing{
        float: left;
        width: 50%;  
        height: 100%;
    }
    #clear{
        clear: both; 
    }

    .swiper-container {
        height: 100%;
    }

    #logo-text{
        width: 250px;
        height: auto; 
        max-height: none; 
    }

}

@media screen and (min-width: 1000px) {
    .info-box img{
        width: 250px;
    }
    h3{
        margin: 15px; 
    }  
}